#mainvid {
    width:1080px;
    height:500px;
}

#root {
    display:flex;
}

button {
    margin:50px;
    width:100px;
    height:100px;
}

#buttonGroup {
    display:flex;
    flex-flow: row wrap;
}